<!-- wp:template-part {"slug":"header","theme":"glowmerry","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"60px","bottom":"60px","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|40"},"border":{"top":{"color":"var:preset|color|border","width":"1px"},"right":{"color":"var:preset|color|border"},"bottom":{"color":"var:preset|color|border"},"left":{"color":"var:preset|color|border"}}},"backgroundColor":"white","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-white-background-color has-background"
  style="
    border-top-color: var(--wp--preset--color--border);
    border-top-width: 1px;
    border-right-color: var(--wp--preset--color--border);
    border-bottom-color: var(--wp--preset--color--border);
    border-left-color: var(--wp--preset--color--border);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-right: var(--wp--preset--spacing--40);
    padding-bottom: 60px;
    padding-left: var(--wp--preset--spacing--40);
  "
>
  <!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"blockGap":"0px","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","wideSize":"1280px","contentSize":"1280px"}} -->
  <div
    class="wp-block-group"
    style="
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    "
  >
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"40px","left":"40px"}}}} -->
    <div class="wp-block-columns">
      <!-- wp:column {"width":"72%","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} -->
      <div
        class="wp-block-column"
        style="padding-top: 0; padding-bottom: 0; flex-basis: 72%"
      >
        <!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"border":{"left":{"width":"0px","style":"none"},"top":[],"right":[],"bottom":{"color":"var:preset|color|primary","width":"2px"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div
          class="wp-block-group"
          style="
            border-bottom-color: var(--wp--preset--color--primary);
            border-bottom-width: 2px;
            border-left-style: none;
            border-left-width: 0px;
            margin-top: 0;
            margin-bottom: 0;
          "
        >
          <!-- wp:query-title {"type":"archive","level":5,"showPrefix":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"},"spacing":{"padding":{"top":"8px","bottom":"8px","left":"12px","right":"12px"}}},"backgroundColor":"primary","textColor":"white","fontSize":"normal"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:query {"queryId":39,"query":{"perPage":10,"pages":"0","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true}} -->
        <div class="wp-block-query">
          <!-- wp:post-template {"style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":2}} -->
          <!-- wp:group {"className":"glowmerry-blog-list-hover is-style-box-shadow-medium","style":{"spacing":{"blockGap":"10px","padding":{"top":"10px","bottom":"10px","left":"10px","right":"10px"}},"border":{"width":"1px"}},"borderColor":"border","layout":{"type":"constrained"}} -->
          <div
            class="wp-block-group glowmerry-blog-list-hover is-style-box-shadow-medium has-border-color has-border-border-color"
            style="
              border-width: 1px;
              padding-top: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
            "
          >
            <!-- wp:cover {"useFeaturedImage":true,"isUserOverlayColor":true,"gradient":"secondary-gradient","contentPosition":"bottom left","className":"is-style-cover-hover-zoom-in","style":{"dimensions":{"aspectRatio":"4/3"}},"layout":{"type":"constrained"}} -->
            <div
              class="wp-block-cover has-custom-content-position is-position-bottom-left is-style-cover-hover-zoom-in"
            >
              <span
                aria-hidden="true"
                class="wp-block-cover__background has-background-dim-100 has-background-dim has-background-gradient has-secondary-gradient-gradient-background"
              ></span>
              <div class="wp-block-cover__inner-container">
                <!-- wp:post-terms {"term":"category","className":"is-style-category-background-three glowmerry-text-decoration-none is-style-category-background-mixed","style":{"typography":{"fontSize":"9px","textTransform":"uppercase"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} /-->
              </div>
            </div>
            <!-- /wp:cover -->

            <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"10px","bottom":"0","left":"10px"},"blockGap":"10px"}},"layout":{"inherit":false}} -->
            <div
              class="wp-block-group"
              style="
                padding-top: 0;
                padding-right: 10px;
                padding-bottom: 0;
                padding-left: 10px;
              "
            >
              <!-- wp:group {"fontSize":"tiny","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"bottom"}} -->
              <div class="wp-block-group has-tiny-font-size">
                <!-- wp:post-author-name {"isLink":true,"className":"glowmerry-text-decoration-none is-style-author-icon-foreground-alt","style":{"typography":{"textTransform":"capitalize"},"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"}}}},"textColor":"foreground-alt"} /-->

                <!-- wp:post-date {"className":"is-style-date-icon-foreground-alt","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"}}}},"textColor":"foreground-alt"} /-->
              </div>
              <!-- /wp:group -->

              <!-- wp:post-title {"isLink":true,"className":"glowmerry-text-decoration-none is-style-title-hover-secondary","style":{"elements":{"link":{"color":{"text":"var:preset|color|dark"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}},"textColor":"dark","fontSize":"medium"} /-->

              <!-- wp:post-excerpt {"moreText":"\u003cstrong\u003eRead More\u003c/strong\u003e","showMoreOnNewLine":false,"excerptLength":15,"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"},":hover":{"color":{"text":"var:preset|color|primary"}}}}},"textColor":"foreground-alt","fontSize":"small"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
          <!-- /wp:post-template -->

          <!-- wp:group {"style":{"spacing":{"margin":{"top":"30px"}}},"layout":{"type":"constrained"}} -->
          <div class="wp-block-group" style="margin-top: 30px">
            <!-- wp:query-pagination {"className":"is-style-pagination-primary"} -->
            <!-- wp:query-pagination-previous {"label":"Prev"} /-->

            <!-- wp:query-pagination-numbers {"midSize":0} /-->

            <!-- wp:query-pagination-next {"label":"Next"} /-->
            <!-- /wp:query-pagination -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"width":"28%"} -->
      <div class="wp-block-column" style="flex-basis: 28%">
        <!-- wp:template-part {"slug":"sidebar","theme":"glowmerry","area":"uncategorized"} /-->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"glowmerry","area":"footer"} /-->
