<!-- wp:template-part {"slug":"header","theme":"glowmerry","area":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"backgroundColor":"white","layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group has-white-background-color has-background"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"glowmerry/hero-section"} /-->
  <!-- wp:pattern {"slug":"glowmerry/product-grid"} /-->
  <!-- wp:pattern {"slug":"glowmerry/cta"} /-->
  <!-- wp:pattern {"slug":"glowmerry/description-grid"} /-->
  <!-- wp:pattern {"slug":"glowmerry/cta-grid"} /-->
  <!-- wp:pattern {"slug":"glowmerry/product-featured"} /-->
  <!-- wp:pattern {"slug":"glowmerry/testimonial"} /-->
  <!-- wp:pattern {"slug":"glowmerry/blog-grid"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"glowmerry","area":"footer"} /-->
